@{
    string hasLogin = "";
    @if(User.Identity != null && User.Identity.IsAuthenticated)
    {
        hasLogin = "hide";
    }
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Trang web cá nhân dùng dể training kỹ năng." />
    <meta name="author" content="TNKBang">

    <meta property="og:title" content="Trang web cá nhân" />
    <meta property="og:url" content="https://github.com/tnkbang" />
    <meta property="og:image" content="https://haycafe.vn/wp-content/uploads/2021/12/Anh-anime-cute-1.jpg" />
    <meta property="og:description" content="Trang web này tôi dùng dể traning kỹ năng của bản thân về xây dựng web với .Net Core" />

    <title>@ViewData["Title"] | TNKBang</title>
    <link href="~/css/fonts.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/toastr.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/jquery-ui.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <div class="overlay"></div>
    <main class="main">
        <div class="header">
            <div class="nav-toggler">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <button class="btn-login glow-on-hover @hasLogin" type="button">Đăng nhập</button>
        </div>
        <div class="content">
            <h1>Hello friends</h1>
            <h2>I'm <i>Amardeep Kesarwani</i></h2>
            <p>I'm   <span id="profession"></span> </p>
            @RenderBody()
        </div>
        <div class="action-btn-group">
            <button class="btn-1"><span class="material-icons">favorite</span></button>
            <button class="btn-2"><span class="material-icons">web</span></button>
            <button class="btn-3"><span class="material-icons">visibility</span></button>

            <button class="action-btn"><span class="material-icons">edit</span></button>
        </div>
    </main>
    <!-- loading animation -->
    <div class="task-runner">
        <div class="lds-dual-ring"></div>
    </div>

    <!-- script -->
    <script src="~/js/script.js" asp-append-version="true"></script>
</body>
</html>