<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="TNKBang">
    <title>@ViewData["Title"] - Website</title>
    <link href="~/css/fonts.css" rel="stylesheet">
    <link href="~/css/jquery-ui.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <aside class="sidebar">
        <div class="sidebar_header">
            <div class="img">
                <img src="https://haycafe.vn/wp-content/uploads/2021/12/Anh-anime-cute-1.jpg" alt="">
            </div>
            <div>
                <h3>ABC 123</h3>
                <small>abc123@gmail.com</small>
            </div>
        </div>
        <div class="search-box">
            <input type="text" id="tags" class="search" placeholder="Search here..." />
        </div>
        <ul class="menu">
            <li>
                <a href=""><span class="material-icons">home</span> <p>Home</p></a>
            </li>
            <li>
                <a href=""><span class="material-icons">person</span> <p>My Profile</p></a>
            </li>
            <li>
                <a href=""><span class="material-icons">chat</span> <p>Message</p></a>
            </li>
            <li>
                <a href="#" class="drop-down"><span class="material-icons">web</span> <p>Projects</p> <span class="material-icons carrot">expand_more</span> </a>
                <ul class="dropdown">
                    <li><a href="">Solo Dating</a></li>
                    <li><a href="">Solo Market</a></li>
                    <li><a href="">Solo Video</a></li>
                    <li><a href="">Solo Yoga</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><span class="material-icons">group_add</span> <p>Contact Us</p></a>
            </li>
            <li>
                <a href="#"><span class="material-icons">info</span> <p>About Us</p></a>
            </li>
        </ul>
    </aside>
    <div class="overlay"></div>
    <main class="main">
        <div class="nav-toggler">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="content">
            @RenderBody()
        </div>
        <div class="action-btn-group">
            <button class="btn-1"><span class="material-icons">favorite</span></button>
            <button class="btn-2"><span class="material-icons">web</span></button>
            <button class="btn-3"><span class="material-icons">visibility</span></button>

            <button class="action-btn"><span class="material-icons">edit</span></button>
        </div>
    </main>
    <!-- script -->
    <script src="~/js/jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery-ui.min.js" asp-append-version="true"></script>
    <script src="~/js/typed.min.js"></script>
    <script src="~/js/script.js" asp-append-version="true"></script>
</body>
</html>