@{
    ViewData["Title"] = "Home Page";
}

<h1>Hello friends</h1>
<h2>I'm <i>Amardeep Kesarwani</i></h2>
<p>I'm   <span id="profession"></span> </p>
<div id="dialog" title="Basic dialog">
    <p>This is an animated dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the &apos;x&apos; icon.</p>
</div>
<button id="opener">Open Dialog</button>
<div class="mb-3 floating-label">
    <input id="text" class="form-control" placeholder=" " />
    <label for="text">input text</label>
</div>