@{
    ViewData["Title"] = "Home Page";
}

<h1>Hello friends</h1>
<h2>I'm <i>Amardeep Kesarwani</i></h2>
<p>I'm   <span id="profession"></span> </p>

<div id="appInfo" title="Thông tin">
    <p class="text-black"><b>Ngày tạo:</b> 06-10-2022<p>
    <p class="text-black"><b>Phiên bản:</b> 1.0.0</p>
    <p class="text-black"><b>Chủ sở hữu:</b> tnkbang</p>
</div>